language: python

python:
  - 3.5.2
  - 3.6.1

install:
  - pip --version
  - pip install -r requirements.txt

script:
  # Tests
  - python -m unittest discover -v
  # PyLint
  - make lint

notifications:
  email:
    recipients:
    - louis.remus@berkeley.edu
    - skander_jemaa@berkeley.edu
    - david_lin@berkeley.edu
    - auriane.blarre@berkeley.edu
    - pierrehabte_nouv@berkeley.edu
    - titouan.jehl@berkeley.edu
    on_success: change
    on_failure: change
